<% include partials/_header %>
    <div class="rounded" style="background-color:#b2bec3; padding-left: 20px; padding-right: 20px; height: 100%; width: 45%; margin-left: 27.5%; margin-right: 27.5%;">
      <!-- Add your EJS code here -->
      <% for(key in urls) { %>
        <div style="display: flex; justify-content: space-between; align-items: center; width: auto; padding-bottom: 15px; padding-top: 15px; font-family: 'Courier New', Courier, monospace;">
          <a>  
            <%= key %> --->
          </a>
          <div>
            <a class="btn btn-link" style="position: relative; width:fit-content"  href="<%= urls[key] %>">
          </div>
            <%= urls[key] %>
          </a>
          <div>
            <form style="position: inherit" method="POST" action="/urls/<%= key %>/delete">
              <button class="btn btn-danger" style="vertical-align: middle;">  Delete 🗑️  </button>
            </form>
            <form action="/urls/<%= key %>">
                <button class="btn btn-primary" style="vertical-align: middle;" >  View/Edit  </button>
            </form>
          </div>
        </div>
      <% } %>
    </div>
<% include partials/_footer %>
